@import '../variables/variables';
@import '../mixin/mixins';


/*===========================================================================================================================
                                                        back to top button start
=============================================================================================================================*/
#bc_top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 35px;
    width: 35px;
    background: rgb(0, 204, 255);
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    z-index: 99999;
    display: none;
    cursor: pointer;
}
/*===========================================================================================================================
                                                        back to top button end
=============================================================================================================================*/