@import '../variables/variables';
@import '../mixin/mixins';


/*===========================================================================================================================
                                                        banner part start
=============================================================================================================================*/
#banner {
    padding: 332px 0 252px;
    text-align: center;

    .banner_text {

        #typed {
            @include ts(#fff, 50px, 700, $ff1);
            text-transform: uppercase;
            margin-bottom: -5px
        }

        .typed-cursor {
            font-size: 50px;
            color: #fff;
        }

        h2 {
            @include ts(#fff, 40px, 300, $ff2);
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        p {
            @include ts(#fff, 14px, 300, $ff2);
        }
    }
}

/*===========================================================================================================================
                                                        banner part end
=============================================================================================================================*/