@import '../variables/variables';
@import '../mixin/mixins';


/*===========================================================================================================================
                                                        buy part start
=============================================================================================================================*/
#buy {
    padding: 80px 0;

    .common_head {
        position: relative;
        text-align: center;

        &::after {
            @include after2(34%, 10px, 1px, 100px, #535353);
        }

        &::before {
            @include before(34%, 12px, 1px, 100px, #535353);
        }

        h4 {
            @include ts(#444, 18px, 700, $ff1);
            margin-bottom: 25px;
            position: relative;
            text-transform: uppercase;

            &::after {
                @include after2(57.7%, 10px, 1px, 100px, #535353);
            }

            &::before {
                @include before(57.7%, 12px, 1px, 100px, #535353);
            }
        }
    }

    .buy_row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .buy_col {
            width: 31.7%;
            border: 1px solid #e3e3e3;

            .col_head {
                padding: 20px 0;
                text-align: center;

                h4 {
                    @include ts(#444, 16px, 700, $ff2);
                }

                p {
                    @include ts(#999, 12px, 400, $roboto);
                    margin-top: 10px;
                }
            }

            .col_img {
                img {
                    width: 100%;
                    max-width: 100%;
                }
            }

            .col_text {
                padding: 25px;

                p {
                    @include ts(#666, 14px, 400, $roboto);
                    line-height: 22px;
                }

                a {
                    @include ts(#999, 11px, 400, $roboto);
                    text-transform: uppercase;
                    margin-top: 15px;
                    border-bottom: 1px solid #28b8d8;
                }

                i {
                    font-size: 11px;
                    color: #999;
                    text-align: right;
                    margin-right: 3px;
                    margin-left: 167px;
                }

                span {
                    @include ts(#999, 11px, 400, $roboto);
                    text-align: right;
                }
            }
        }
    }
}

/*===========================================================================================================================
                                                        buy part end
=============================================================================================================================*/