@import '../variables/variables';
@import '../mixin/mixins';


/*===========================================================================================================================
                                                        service part start
=============================================================================================================================*/
#service {
    padding: 80px 0;
    text-align: center;

    .service_head {
        h2 {
            @include ts(#444, 30px, 300, $ff2);
            margin-bottom: 20px
        }

        p {
            @include ts(#666, 14px, 300, $roboto);
        }
    }

    .service_main {
        .ser_in_head {
            h4 {
                @include ts(#444, 18px, 700, $ff1);
                text-transform: uppercase;
                margin-top: 70px;
            }
        }

        .ser_img_row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 25px;

            .ser_in_col {
                width: 31.6%;
                border: 1px solid #e3e3e3;
                padding: 15px;

                .ser_img {
                    img {
                        width: 100%;
                        max-width: 100%;
                    }
                }

                .ser_text {
                    h5 {
                        @include ts(#444, 17px, 700, $ff2);
                        margin-top: 20px;
                        margin-bottom: 10px
                    }

                    p {
                        @include ts(#666, 14px, 400, $roboto);
                        line-height: 22px;
                    }
                }
            }
        }
    }
}

/*===========================================================================================================================
                                                        service part end
=============================================================================================================================*/